@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --poppins: 'poppinsFont';
  --lato: 'latoFont';
  --montserrat: 'montserratFont'
}

@font-face {
  font-family: 'poppinsFont';
  src: url('/font/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'latoFont';
  src: url('/font/Lato-Regular.ttf');
}

@font-face {
  font-family:'montserratFont';
  src: url('/font/Montserrat/static/Montserrat-Medium.ttf');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
 }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'poppinsFont', Helvetica, sans-serif;
}

header{
  font-family: 'montserratFont';
  /* text-transform: uppercase; */
}